<link rel="stylesheet" href="/css/user_profile.css">
<section id="user-info">
  <h4><%= currentUser.name %></h4>
  <p><%= currentUser.email %></p>

  <img id ="user-avatar"src="<%= user.avatar %>" alt="user avatar image">

  <% if(locals.user && locals.user.id == currentUser.id){ %>
  <form action="/users/update/<%= currentUser.id %>" enctype="multipart/form-data" method="post">
    <!-- if user matches then show the form -->
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      value="<%=currentUser.name %>"
      required
    />
    <input
      type="email"
      name="email"
      placeholder="Your email"
      value="<%=currentUser.email %>"
      required
    />

    <input type="file" name="avatar" placeholder="Profile Picture">
    <input type="submit" value="Update" />
  </form>
  <% }else{ %>
  <!-- else only show the profile info -->
  <% } %>
</section>
